@mixin my_transition($pro:all,$dur:1s,$delay:0s,$tim:linear) {
    -webkit-transition: $pro,$dur,$delay,$tim;
    -moz-transition: $pro,$dur,$delay,$tim;
    -ms-transition:$pro,$dur,$delay,$tim;
    -o-transition: $pro,$dur,$delay,$tim;
    transition: $pro,$dur,$delay,$tim;
    
}
@mixin radius {
    border-radius: 5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}